<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Каталог товаров</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">

<!--    <form th:action="@{/filter}" method="get">-->
<!--        <input id="txtSearch" type="text" name="keyword">-->
<!--        <button type="submit">Перейти</button>-->

<!--    </form>-->

    <table class="table table-hover">
        <thead>
        <tr>
            <form th:action="@{products/filter}"
                  th:object="${filter}"
                  method="post"
            style="align-content: center">
            <th>ID</th>
            <th>Название товара
                <input th:field="*{substr}"
                       name="substr"
                       placeholder="title (*)"
                       style="
                          height:30px;
                          border-color: gray;
                          border-radius: 5px ">
            </th>
            <th>

                <div style="
                        display: flex;">Цена от
<!--                <input placeholder="фильтр...">-->
<!--                <label th:text="${'Выбор сортировки'}"></label>-->
                    <input th:field="*{min}"
                            placeholder="min (*)"
                           style="
                          height:30px;
                          border-color: gray;
                          border-radius: 5px;
                          width: 50px"> до
                    <input th:field="*{max}"
                            placeholder="max (*)"
                           style="
                          height:30px;
                          border-color: gray;
                          border-radius: 5px;
                          width: 50px">

<!--                    <select  th:field="*{type}"-->
<!--                             name="type"-->
<!--                             class="form-control"-->
<!--                             style="-->
<!--                                /*margin-left:10px;*/-->
<!--                                /*margin-right:40px;*/-->
<!--                                height:35px;-->
<!--                                max-width:60%;-->
<!--                                border-color: gray;">-->
<!--                        <option value="NONE">&#10006;</option>-->
<!--                        <option value="ASCENDING">&uarr;</option>-->
<!--                        <option value="DESCENDING">&darr;</option>-->
<!--                    </select>-->
                </div>
            </th>
            <th>Действия</th>
            <th>
                <button class="btn btn-primary">Filter</button>
<!--                <form th:action="@{products/clearFilter}"-->
<!--                      th:value=""-->
<!--                      method="post">-->
<!--                    <button class="btn btn-primary">ClearFilter</button>-->

<!--                </form>-->
            </th>
            </form>

        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <div th:if="${!editing.contains(product.id)}">
                <td th:text="${product.id}"/>
                <td th:text="${product.title}"/>
                <td th:text="${product.price}"/>
                <td>
                    <a th:href="@{'/products/show/' + ${product.id}}"
                       th:text="Просмотреть"/> |
                    <a th:href="@{'/products/edit/' + ${product.id}}"
                       th:text="Изменить"/> |
                    <a th:href="@{'/products/delete/' + ${product.id}}"
                       th:text="Удалить"/>
                </td>
            </div>

            <div th:if="${editing.contains(product.id)}">
<!--                <td> colspan="4">-->
                    <form th:action="@{/products/edit}"
                          th:object="${product1}"
                          method="post">
                        <td> <!--< th:value="${product.id}" th:text="${product.id}" />-->
                            <input size="1"
                                   type="text"
                                   th:value="${product.id}"
                                   name="id"
                                   pattern="\d*"
                                   readonly required />
                        </td>
                        <td>
                            <input th:value="${product.title}"
                                   placeholder="title (*)"
                                   name="title"
                                   required/>
                        </td>
                        <td>
                            <input th:value="${product.price}"
                                   pattern="\d*"
                                   name="price"
                                   required/>
                        </td>
                        <td>
                            <button type="submit">Отправить</button>
                        </td>
                    </form>
<!--                </td>-->
            </div>
        </tr>
        </tbody>
    </table>

    <span th:text="${'Всего товаров ' + products.size()}"/>
    <br>
    <form th:action="@{/products/add}"
          th:object="${product}" method="post" class="form-horizontal">

        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input th:field="*{id}" placeholder="id (*)" class="form-control"/>
        </div>

        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input th:field="*{title}" placeholder="title (*)" class="form-control"/>
        </div>

        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input th:field="*{price}" placeholder="price (*)" class="form-control"/>
        </div>

        <div style="margin-top: 10px" class="form-group">
            <div class="col-sm-6 controls">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>